:root {
    --orange: #F18119;
    --lightGray: #818181;
    --medGray: #5A5A5A;
    --darkGray: #404040;
    --ff-primary: 'Source Sans Pro', sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0 auto;
    align-content: center;
    text-align: center;
    color: var(--medGray);
    font-family: var(--ff-primary);
}

.accent-div {
    background: transparent linear-gradient(270deg, #FF713B 0%, #FF895D, #FFA51D 100%) 0% 0% no-repeat padding-box; /*linear-gradient(#FF713B, #FFA51D);*/
    opacity: 1;
    height: .4em;
    width: 15em;
    margin: 0 auto;
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.large-div {
    background: url(/Users/casvalkyriespicer/Documents/GitHub/BBQ-Splash-Page/images/BBQbig.jpg);
    /*background: #000000 0% 0% no-repeat padding-box;*/
    opacity: 1;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    /*width: 100%;
    height: 100%;*/
    background-size: cover;
    height: 40em;
}
.main-header {
    color: white;
    font-size: 3rem;
    filter: blur(0px);
    -webkit-filter: blur(0px);
}
.secondary-header {
    color: var(--darkGray);
}

h2 {
    color: var(--orange);
    text-transform: uppercase;
    letter-spacing: .2;
}

.orange-p {
    color: var(--orange);
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.modal-content {
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    background-color: white;
}

.submit-button {
    background: transparent linear-gradient(270deg, #FF713B 0%, #FF895D, #FFA51D 100%) 0% 0% no-repeat padding-box; /*linear-gradient(#FF713B, #FFA51D);*/
    opacity: 1;
}

@media (min-width: 600px) {
    body {
        display: flex;
    }

}