:root {
    --orange: #F18119;
    --medGray: #818181;
    --darkGray: #404040;
    --ff-primary: 'Source Sans Pro', sans-serif;
}

body {
    margin: 0 auto;
    align-content: center;
    text-align: center;
    font-family: var(--ff-primary);
}

.accent-div {
    background: transparent linear-gradient(270deg, #FF713B 0%, #FFA51D 100%) 0% 0% no-repeat padding-box; /*linear-gradient(#FF713B, #FFA51D);*/
    opacity: 1;
    height: .3em;
    width: 30em;
}
.main-header {
    color: white;
}
.secondary-header {
    color: rgb(1, 12, 17)
}

h2 {
    color: var(--orange);
}

.orange-p {
    color: var(--orange);
}

.modal-content {
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    background-color: white;
}

.submit-button {
    background: transparent linear-gradient(270deg, #FF713B 0%, #FFA51D 100%) 0% 0% no-repeat padding-box; /*linear-gradient(#FF713B, #FFA51D);*/
    opacity: 1;
}