:root {
    --orange: orange;
}

body {
    margin: 0 auto;
    align-content: center;
    text-align: center;
}

.accent-div {
    background-color: orange;
}
.main-header {
    color: white;
}
.secondary-header {
    color: rgb(1, 12, 17)
}

h2 {
    color: var(--orange);
}

.orange-p {
    color: var(--orange);
}

.modal-content {
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    position: relative;
}